# Tuple

In [1]:
tup = tuple('string')
print(tup)

('s', 't', 'r', 'i', 'n', 'g')

In [2]:
nested_tup = (4,5,6), (7,8)
nested_tup

((4, 5, 6), (7, 8))

In [3]:
nested_tup[1]

(7, 8)

In [4]:
# Tuples are immutable
tup = tuple(['foo', [1,2], True])

In [5]:
tup[2] = False

TypeError: 'tuple' object does not support item assignment

In [6]:
# If the object inside tupleis mutable, such as list, you can moidfy it in place
tup[1].append(3)
tup

('foo', [1, 2, 3], True)

In [7]:
# Concatanate tuples
(4, None, 'foo') + (6,0) + ('bar',)

(4, None, 'foo', 6, 0, 'bar')

In [8]:
('foo', 'bar') * 4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

In [9]:
# Unpacking tuples
tup = (4,5,6)
a,b,c = tup

a, b, c

(4, 5, 6)

In [10]:
# Basic swap
a, b = 1, 2
b,a = a,b

In [11]:
a,b

(2, 1)

In [12]:
seq = [(1, 2, 3), (4,5,6), (7,8,9)]

for a,b,c in seq:
    print(f'a={a}, b={b}, c={c}')

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

In [13]:
a = (1, 2, 2, 2, 3, 4, 2)
a.count(2)

4

# List

In [14]:
a_list = [2,3,7, None]

In [15]:
a_list

[2, 3, 7, None]

In [16]:
tup = ("foo", "bar", "baz")

In [17]:
b_list = list(tup)

In [18]:
b_list[1] = "peekaboo"

In [19]:
b_list

['foo', 'peekaboo', 'baz']

In [20]:
# Lists and tuples are similar (though tuples cannot be modified) 
# and can be used interchangeably in many functions.

In [21]:
b_list.append("dwarf")

In [23]:
b_list

['foo', 'peekaboo', 'baz', 'dwarf']

In [24]:
b_list.insert(1, "red")

In [25]:
b_list

['foo', 'red', 'peekaboo', 'baz', 'dwarf']

In [26]:
b_list.pop(2)

'peekaboo'

In [27]:
b_list.append("foo")

In [28]:
b_list

['foo', 'red', 'baz', 'dwarf', 'foo']

In [29]:
b_list.remove("foo")

In [30]:
b_list

['red', 'baz', 'dwarf', 'foo']

In [31]:
# Concat / Combine lists
[4, None, "foo"] + [7, 8, (2,3)]

[4, None, 'foo', 7, 8, (2, 3)]

In [32]:
x = [4, None, "foo"]
x.extend([7, 8, (2,3)])

In [33]:
x

[4, None, 'foo', 7, 8, (2, 3)]

In [34]:
a = [7, 2, 5, 1, 3]

In [35]:
a.sort()

In [36]:
a

[1, 2, 3, 5, 7]

In [37]:
 b = ["saw", "small", "He", "foxes", "six"]

In [38]:
b

['saw', 'small', 'He', 'foxes', 'six']

In [39]:
b.sort(key=len)

In [40]:
b

['He', 'saw', 'six', 'small', 'foxes']

In [41]:
seq = [7, 2, 3, 7, 5, 6, 0, 1]

In [42]:
seq[1:5]

[2, 3, 7, 5]

In [43]:
seq[3:5] = [6,3]

In [44]:
seq

[7, 2, 3, 6, 3, 6, 0, 1]

In [45]:
seq[-4]

3

In [46]:
seq[-6:-2]

[3, 6, 3, 6]

In [47]:
seq[::2]

[7, 3, 3, 0]

In [48]:
seq[::-1]

[1, 0, 6, 3, 6, 3, 2, 7]

# Dictionary

In [49]:
d1 = {"a": "some value", "b":[1,2,3,4]}

In [50]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [51]:
d1[7] = "an integer"

In [52]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [54]:
d1["b"]

[1, 2, 3, 4]

In [55]:
d1["dummy"] = "another value"

In [56]:
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 'dummy': 'another value'}

In [58]:
d1[5] = 'some value'

In [59]:
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 'dummy': 'another value',
 5: 'some value'}

In [61]:
del d1[5]

In [62]:
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 'dummy': 'another value'}

In [63]:
ret = d1.pop("dummy")

In [64]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [65]:
ret

'another value'

In [66]:
list(d1.keys())

['a', 'b', 7]

In [67]:
list(d1.values())

['some value', [1, 2, 3, 4], 'an integer']

In [68]:
d1.update({"b":"foo", "c":12})

In [69]:
d1

{'a': 'some value', 'b': 'foo', 7: 'an integer', 'c': 12}

In [70]:
tuples = zip(range(5), reversed(range(5)))
tuples

In [71]:
mapping = dict(tuples)

In [72]:
mapping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

In [73]:
words = ["apple", "bat", "bar", "atom", "book"]

In [74]:
by_letter = {}

for word in words:
    letter = word[0]
    if letter not in by_letter:
        by_letter[letter] = [word]
    else:
        by_letter[letter].append(word)

by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [77]:
words = ["apple", "bat", "bar", "atom", "book"]
by_letter = {}

for word in words:
    letter = word[0]
    by_letter.setdefault(letter, []).append(word)

by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}